header.header2,
header {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    background-color: red;
    text-shadow: 0 0 3px yellow, 0 0 3px gold;
    box-shadow: 0 0 25px black inset;
    color:white;
    border-style:groove;
    border-width: 20px;
    font-family: "Copperplate", "Garamond", sans-serif;
    border-color:gold;
    transition: 0.3s;
}
header.header2 {
    padding: 40px;
    font-size: 40px;
}
header:hover {
    box-shadow: 0 0 100px yellow inset;
    font-size: 50px;
}
header p  {
    font-size: 15px;
    font-weight: 10;
}

body {
    background-image: linear-gradient(to right, gold,red,orange,red,gold,red,orange,red,gold);
}

nav {
    position: sticky;
    top: 0;
}
nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color:yellow;
    background-image: linear-gradient(to right, orange, yellow,red)
}

nav ul li {
    float:left;
    border-top: solid 5px black;
    border-right: solid 5px green;
    transition: 0.3s;
}

nav ul li:hover {
    box-shadow: 0 0 20px red inset;
}
li:last-child {
    border-right: none;
}


li a {
    display:block;
    text-decoration: none;
    font-family: "Impact";
    font-size: 30px;
    text-align: center;
    color:rgb(28, 83, 31);
    padding: 10px;
}

img {
    text-align: center;
    width: 400px;
}